<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Order Management System</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>

 <div class="container my-2">
 
 <h1> Order List </h1>
 <a th:href = "@{/showNewOrderForm}" class="btn btn-primary btn-sm mb-3">Add Order</a>
 <table border="1" class="table table-striped table-responsive-md">
 	<thead>
        <tr>
        	<th>Order Id</th>
            <th>User Number</th>
            <th>Order Status</th>
            <th>Actions </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="orders : ${listOrders}">
        	<td th:text="${orders.orderId}"></td>
            <td th:text="${orders.userNum}"></td>
            <td th:text="${orders.orderStatus}"></td>
            <td> <a th:href="@{/showFormForUpdateOrder/{id}(id=${orders.orderId})}" class="btn btn-primary">Update</a>
                 <a th:href="@{/deleteOrder/{id}(id=${orders.orderId})}" class="btn btn-danger">Delete</a>
            </td> 
        </tr>
        </tbody>
 </table>
 </div>
</body>
</html>