<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <div th:fragment="quantity_control(orderQuantity, itemId">
        <nav>
            <ul>
<!--                <li class = "page-item">-->
                    <a class="page-link"><b>-</b></a>
<!--                </li>-->
<!--                <li class = "page-item">-->
                    <input type="text" th:value="${orderQuantity}" onkeydown="return false;" class="form-control" style="width:55px"/>
<!--                </li>-->
<!--                <li class = "page-item">-->
                    <a class="page-link"><b>+</b></a>
<!--                </li>-->
            </ul>
        </nav>
    </div>
</body>
</html>