<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Users Roles Management System</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1>Users Roles Management System</h1>
    <p>Role ID 1="Customer"  2="Admin"</p>
    <hr>
    <h2>Update Users Roles</h2>
    <form action="#" th:action="@{/saveUsersRoles}" th:object="${usersRoles}"
          method="POST">
        <input type="text" th:field="*{userId}" placeholder="User Id"
               class="form-control mb-4 col-4">
        <input type="text" th:field="*{roleId}" placeholder="Role Id"
               class="form-control mb-4 col-4">
        <button type="submit" class="btn btn-info col-2">Update Users Roles</button>
    </form>
    <hr>
    <a th:href="@{/}">Back to the list</a>
</div>
</body>
</html>